{% assign languages = site.data.data.sidebar.languages %}
{% if languages %}
<div class="languages-container container-block">

  <h2 class="container-block-title">
    {{ languages.title }}
  </h2>

  <ul class="list-unstyled interests-list">
    {% for language in languages.info %}
    <li>
      {{ language.idiom }}
      <span class="star-rating">
        {% assign rating = 0 %}
        {% case language.level %}
          {% when "Native" %}
            {% assign rating = 5 %}
          {% when "Professional Working Proficiency" %}
            {% assign rating = 4 %}
          {% when "Limited Working Proficiency" %}
            {% assign rating = 3 %}
          {% when "Elementary Proficiency" %}
            {% assign rating = 2 %}
          {% when "Basic" %}
            {% assign rating = 1 %}
        {% endcase %}

        {% for i in (1..5) %}
          {% if i <= rating %}
            <i class="fas fa-star"></i>
          {% else %}
            <i class="far fa-star"></i>
          {% endif %}
        {% endfor %}
      </span>
    </li>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
