<!-- Javascript -->
{% if site.analytics %} {% include analytics.html %} {% endif %}

<script>
  const sidebarToggle = document.getElementById('sidebarToggle');
  const sidebarCollapsibleContent = document.getElementById('sidebarCollapsibleContent');

  if (sidebarToggle && sidebarCollapsibleContent) {
    console.log('Sidebar toggle initialized');
    sidebarToggle.addEventListener('click', function() {
      console.log('Sidebar toggle clicked');
      sidebarCollapsibleContent.classList.toggle('active');
    });
  } else {
    console.log('Sidebar toggle elements not found', { sidebarToggle, sidebarCollapsibleContent });
  }
</script>
