{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h2 class="name">{{ sidebar.name }}</h2>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

    <button id="sidebarToggle" class="sidebar-toggle-button d-md-none">
      <i class="fas fa-bars"></i> Contact & Other Info
    </button>
  </div><!--//profile-container-->

  <div id="sidebarCollapsibleContent" class="sidebar-collapsible-content">
    {% include contact.html %}

    {% if sidebar.education %}
      {% include education.html %}
    {% endif %}

    {% include language.html %}
    {% include interests.html %}

    {% if sidebar.about %}
      {% include about.html %}
    {% endif %}
  </div>

</div>
